@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');


/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* add your custom css here */

body{
  font-family: "Lato", sans-serif;
}

main{
  width: 375px;
  height: 559px;
  overflow: scroll;
  overflow-x: hidden;
  margin: auto;
  border: 2px solid grey;
}

header, #header-space{
  text-align: right;
	padding: 15px;
	padding-right: 70px;
	background-color: white;
  box-shadow: 0px 5px 5px gainsboro;
	margin-bottom: 25px;
	width: 375px;
	box-sizing: border-box;
	display:none;
	}

	header{
		position: fixed;
	}

footer{
	padding: 15px 70px;
	background-color: white;
	position: fixed;
	width: 375px;
	box-sizing: border-box;
	top:474px;
	box-shadow: 0 -5px 5px gainsboro;
	background-color: white;
	}

	#footer-space{
		height: 85px;
		width: 100%;
	}

footer nav button{
	display: inline-block;
	width: 50px;
	font-weight: 400;
  font-size: 12px;
	margin:2.5px;
	box-sizing: border-box;
	background-color: white;
	color: #90DFCE;
	border: 2px solid #90DFCE;
}

h1{
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #67D3BC;
}

.title{
	margin-top: 50px;
	text-align: center;
}

h2{
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 5px;
}

h3{
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 5px;
  color: dimgray;
}

h4{
	font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
	color: #67D3BC;
}

textarea{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  border: 2px solid #90DFCE;
  border-radius: 10px;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
}

p{
  font-weight: 300;
  font-size: 14px;
  color: gray;
  padding-bottom: 5px;
}

section{
	width: 75%;
	display: block;
	margin: 0 auto;
}

button{
	width: 250px;
	height: 50px;
	display: block;
	margin: 20px auto;
	background-color: #43B7A6;
	border: none;
	font-family: "Lato", sans-serif;
	font-weight: 400;
  font-size: 20px;
	color: white;
	text-transform: lowercase;
	border-radius: 30px;
}

article{
	padding: 20px 0;
  box-sizing: border-box;
	border-top: 2px solid whitesmoke;
}

article:first-of-type{
  border: none;
}

.darkgreen{
  background-color: #43B7A6;
}

.lightgreen{
  background-color: #90DFCE;
}

.middlegreen{
  background-color: #67D3BC;
}

#login-page{
}

#home-page{
	display: none;
}

#post-page{
	display: none;
}

#thank-you-page{
	display: none;
}

#your-posts{
	display: none;
}

#all-posts{
	display: none;
}

footer, #footer-space{
	display: none;
}
