@import url('https://fonts.googleapis.com/css?family=Lato');


body{
  font-family: 'Lato', sans-serif;
  color: #475053;
  width: 750px;
  margin: auto;


}

p{
  font-size: .9em;
  line-height: 2em;

}

a{
  text-decoration: none;
  color: #475053;
}

a:hover{
    color: grey;
}


h1{
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  margin: 100px;
}

h2{
  text-transform: capitalize;
}

footer{
  padding: 50px;
  background-color: #d3d3d3;
}
