@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');


/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/***** Reset Ends *****/


/***** Color Ends*****

Bright blue: #3366ff
rgb (51, 102, 255)

text blue: #0076FF

***** Color *****/

body{
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Roboto', helvetica;
  animation: fadein 2s;
}

main{
  width: 1000px;
  position: relative;
  animation: fadein 3s;
  animation: moveDown 3s;
}

@keyframes fadein {
  0% {opacity: 0;}
  25% {opacity: .25;}
  50% {opacity: .50;}
  75% {opacity: .75};
  100% {opacity: 1;}

}

@keyframes moveDown {
  0% { top: -20px;}
  50% { top: -10px;}
  100% {top: 0px;}
}

.tip {
  position:absolute;
  padding:10px;
  border-radius:10px;
  font-size:18px;
  line-height: 22px;
  color: #0076FF;
  background-color:white;
  opacity:0;
  z-index:3;
}

em{
  color: #ff3300;
  font-weight: bold;
}

#cardiv, #funeral, #funeraldiv, #girl, #house, #car, #carC, #roof1, #bod1, #girl, #roof2, #bod2{
  position: absolute;
}

#cardiv, #funeral,#funeraldiv, #girl, #house, #car, #roof1, #bod1, #girl, #roof2, #bod2:hover{
  cursor: pointer;
}

#car{
  left: 353px;
  top: 450px;
}

#carC{
  left: 353px;
  top: 450px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#carTip{
  left: 100px;
  top: 20px;
  width: 500px;
  height: 250px;
}

#carCont{

  opacity:0;
}

#roof1{
  left: 568px;
  top: 285px;
}

#bod1{
  left: 599px;
  top: 383px;
}

#funeralTip{
  left: 100px;
  top: 10px;
  width: 500px;
  height: 200px;
}

#girl{
  left: 831px;
  top: 239px;
}

#girlTip{
  left: 100px;
  top: 20px;
  width: 500px;
  height: 300px;
}

#roof2{
  left: 948px;
  top: 85px;
}

#bod2{
  left: 979px;
  top: 183px;
}

#houseTip{
  left: 100px;
  top: 20px;
  width: 500px;
  height: 200px;
}

p{
  font-family: 'Oswald';
  position: absolute;
  right: 13%;
  top: 500px;
  color: #0076FF;
  font-size: 30px;
  text-align: right;
  z-index: 3;
}

p a{
  color: #ff3300;
}

p a:hover{
  text-decoration: none;
}

footer a{
  color: #3995FF;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

footer {
  font-family: 'Oswald';
  align-items: center;
  font-size: 10pt;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

footer li {
  display: inline;
  padding-right: 50px;
}
