@charset "UTF-8";

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

h1{
  text-align: center;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

a{
  display: block;
  width: 100%;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
}
